:root {
    --text-color: #bbbbbb;
    --white-color: #ededed;
    --black-color: #131313;
    --grey-color: #191919;
    --light-grey-color: #2b2b2b;
}

body {
    background-image: url('/images/gradient.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: var(--black-color);
    color: var(--text-color);
    font-family: __inter_Fallback_20b187, ui-sans-serif, system-ui, -apple-system, "system-ui", Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    transition: all 0.3s;

    font-size: 14px;
    line-height: 1.6;
    font-weight: 300;
    letter-spacing: 1px;
}

main {
    padding-top: 150px;
}

.header-container {
    height: fit-content;
    padding: 40px 80px;

    margin-bottom: 80px;
}

.title{
    margin: 0 auto;
    text-align: center;
}

.green{
    color: #00ff99;
}

.home-container {
    padding: 80px;
}

.description {
    max-width: 800px;
    text-align: center;
    margin: 20px 0 0 0;
}

.section {
    background: var(--black-color);
    
    padding: 30px;
    width: 100%;
}

.subtitle{
    color: white;
    font-weight: normal;
    font-size: 18px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
}

.skill-box {
    border: var(--white-color) 1px solid;
    padding: 5px 10px;

    user-select: none;
    transition: all 0.3s;
}

.skill-box:hover {
    background-color: var(--white-color);
    color: var(--black-color);
}

.small-column {
    width: 15%;
    padding: 20px;
}

.experience-grid {
    border-collapse: separate;
    border-spacing: 0 20px;
    margin-bottom: 30px;
}

.experience-item {
    margin: 20px 0;
}

.experience-date{
    margin: 0 0 5px 0;
}

.projects-heading{
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    color: var(--white-color);
    letter-spacing: 1px;

    margin-bottom: 15px;
}

.project-item{
    padding: 0;
}

.card{
    border: 1px solid #2d2d2d;
    background-color: #1c1c1c;;
    background-image: linear-gradient(to right, #1c1c1c 10%, #222222);
}

.card-body>* {
    margin-bottom: 20px;
}

.card-title{
    font-size:18px;
    font-weight: normal;
    color: white;
}

.card {
    color: var(--white-color);
    background-color: var(--grey-color);
    margin-bottom: 30px;
    padding: 20px 10px;
}

.card-body>img {
    filter: brightness(0.5);
}

.btn {
    font-size: 14px;
    padding: 10px 20px;
    border: 1px solid #2d2d2d;
    background-color: #1c1c1c;;
}

nav {
    display: flex;
    justify-content: center;
    font-size: 17px;

    position: fixed;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, -50%);

    background: var(--light-grey-color);

    width: fit-content;

    padding: 10px 20px;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    list-style: none;

    border-radius: 50px;
}

.nav-item {
    cursor: pointer;
    padding: 18px 30px;
    border-radius: 50px;
}

.nav-item {
    color: var(--white-color);
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}

.nav-item-active {
    background-color: var(--white-color);
    color: var(--black-color);
}

@media (max-width: 767px) {
    .home-container {
        padding: 10px;
    }

    .header-container {
        padding: 20px;
    }

    nav {
        display: none;
    }
}